{% extends 'base.html' %}
{%block content%}
<div class="container" style="background-color: aqua; border-radius: 30px;">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title" style="text-align: center; font-size: 40px;">Featured</h2>
          <p class="card-text" style="font-size: 30px; font-size: 30px; color: red;">Popular Blogs</p>
          <p class="center" style="font-size: 30px;">{{quote.quote}}</p>
          <p class="center" style="font-size: 30px;"><strong>Author: </strong>{{quote.author}}</p>
          
        </div>
      </div>
    </div>
 <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
              <p >Copyright &copy; Patrick Rop 2021</p>
            </div>
          </div>
        </div>
  </footer>
</div>
</div>
      {% endblock %}
